.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.header-icons .icon {
  margin-left: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}

.login-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: left;
  color: black;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="username"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: whitesmoke;
  color: black;
}

.remember-me {
  flex-direction: row;
  align-items: center;
  color: black;
}   

.remember-me label {
    font-size: 0.9rem;
    font-style: italic;
}

.remember-me input {
  margin-right: 5px;
  accent-color: rgb(107, 107, 107);
}

.btn-signin {
  width: 100%;
  padding: 12px;
  background-color: gray;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-signin:hover {
  background-color: rgb(100, 100, 100);
}

.form-bottom-links {
  margin-top: 20px;
  text-align: center;
}

.form-bottom-links .link {
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: 0.75rem;
}

.form-bottom-links .link:hover {
  text-decoration: underline;
}